.card {
    max-width: 70%; /* This will make every card 30% narrower than before */
    margin: 0 auto; /* This will center the card if it is not already */
}

.card.last {
    max-width: 60%; /* This will make the last card 60% narrower than before */
}

/* .card {
    border: none
} */

.table {
    table-layout: fixed;
    width: auto;
    margin: 5% auto;
    padding: 5%;
    min-width: 50%;
  }
  
  .table th,
  .table td {
    text-align: center;
    white-space: nowrap;
  }
  
  .table th:first-child,
  .table td:first-child {
    text-align: left;
  }
  
  .table th:last-child,
  .table td:last-child {
    text-align: left;
  }
  
  .table th,
  .table td {
    padding: 0.5rem;
  }
